body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

footer {
  margin-top: auto;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: conic-gradient(green calc(var(--value) * 1%), lightgray 0);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

.circle::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 50%;
}
